## Eric Browne, Isabel Osgood
## DS Capstone: ASA Data Expo
## PUMA to County, Data Merging

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
# read in ACS main:
acsMain = pd.read_csv('19estimates_counties.csv',engine='python')
acsMain.head()

,TBLID,GEOID,GEONAME,PROFTBL,PROFLN,TITLE,EST_19,EST_18,SIG90_19_18,EST_17,SIG90_19_17,EST_16,SIG90_19_16,EST_15,SIG90_19_15
0,CP02,05000US01003,"Baldwin County, Alabama",1,0.0,COMPARATIVE SOCIAL CHARACTERISTICS IN THE UNIT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CP02,05000US01003,"Baldwin County, Alabama",1,0.5,COMPARATIVE SOCIAL CHARACTERISTICS IN THE UNIT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CP02,05000US01003,"Baldwin County, Alabama",1,0.8,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CP02,05000US01003,"Baldwin County, Alabama",1,1.0,Total households,"82,325","83,501",NaN,"79,120",NaN,"76,779",*,"72,269",*
4,CP02,05000US01003,"Baldwin County, Alabama",1,2.0,Married-couple family,51.3%,53.8%,NaN,53.3%,NaN,52.0%,NaN,50.6%,NaN

In [19]:
# Take out the '05000US' out of the GEOID to properly join on SVI
acsMain = acsMain.replace(to_replace='05000US',value='',regex=True)
acsMain.head()

,TBLID,GEOID,GEONAME,PROFTBL,PROFLN,TITLE,EST_19,EST_18,SIG90_19_18,EST_17,SIG90_19_17,EST_16,SIG90_19_16,EST_15,SIG90_19_15
0,CP02,01003,"Baldwin County, Alabama",1,0.0,COMPARATIVE SOCIAL CHARACTERISTICS IN THE UNIT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CP02,01003,"Baldwin County, Alabama",1,0.5,COMPARATIVE SOCIAL CHARACTERISTICS IN THE UNIT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CP02,01003,"Baldwin County, Alabama",1,0.8,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CP02,01003,"Baldwin County, Alabama",1,1.0,Total households,"82,325","83,501",NaN,"79,120",NaN,"76,779",*,"72,269",*
4,CP02,01003,"Baldwin County, Alabama",1,2.0,Married-couple family,51.3%,53.8%,NaN,53.3%,NaN,52.0%,NaN,50.6%,NaN

In [22]:
acsMain['GEOID'] # worked

0         01003
1         01003
2         01003
3         01003
4         01003
          ...
164568    56025
164569    56025
164570    56025
164571    56025
164572    56025
Name: GEOID, Length: 164573, dtype: object

In [26]:
# Import SVI:
svi = pd.read_csv('SVI2018_US_COUNTY.csv')
print(svi.head())
print(svi.shape)

   ST       STATE ST_ABBR      COUNTY   FIPS                       LOCATION  \
0  35  NEW MEXICO      NM  Rio Arriba  35039  Rio Arriba County, New Mexico
1   1     ALABAMA      AL     Autauga   1001        Autauga County, Alabama
2   1     ALABAMA      AL      Blount   1009         Blount County, Alabama
3   1     ALABAMA      AL      Butler   1013         Butler County, Alabama
4   1     ALABAMA      AL     Calhoun   1015        Calhoun County, Alabama

     AREA_SQMI  E_TOTPOP  M_TOTPOP   E_HU  ...  F_CROWD  F_NOVEH  F_GROUPQ  \
0  5860.869195     39307         0  20044  ...        0        0         0
1   594.443459     55200         0  23315  ...        0        0         0
2   644.830460     57645         0  24222  ...        0        0         0
3   776.838201     20025         0  10026  ...        0        0         0
4   605.867251    115098         0  53682  ...        0        0         0

   F_THEME4  F_TOTAL  E_UNINSUR  M_UNINSUR  EP_UNINSUR  MP_UNINSUR  E_DAYPOP
0         1     -999       4160        588        10.6         1.5     32290
1         0        0       3875        508         7.1         0.9     37301
2         0        0       6303        732        11.0         1.3     40036
3         0        0       2005        340        10.2         1.7     17280
4         0        0      10686        796         9.4         0.7    117894

[5 rows x 123 columns]
(3142, 123)

In [29]:
#use pandas str.rjust()
#df['DATA'] = df['DATA'].astype(str)
#df['DATA'] = df['DATA'].str.rjust(6,'0')
svi['FIPS'] = svi['FIPS'].astype(str)
svi['FIPS'] = svi['FIPS'].str.rjust(5,'0')
svi['FIPS'] = svi['FIPS'].astype(int)

In [30]:
svi.head() # worked

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,35,NEW MEXICO,NM,Rio Arriba,35039,"Rio Arriba County, New Mexico",5860.869195,39307,0,20044,...,0,0,0,1,-999,4160,588,10.6,1.5,32290
1,1,ALABAMA,AL,Autauga,1001,"Autauga County, Alabama",594.443459,55200,0,23315,...,0,0,0,0,0,3875,508,7.1,0.9,37301
2,1,ALABAMA,AL,Blount,1009,"Blount County, Alabama",644.830460,57645,0,24222,...,0,0,0,0,0,6303,732,11.0,1.3,40036
3,1,ALABAMA,AL,Butler,1013,"Butler County, Alabama",776.838201,20025,0,10026,...,0,0,0,0,0,2005,340,10.2,1.7,17280
4,1,ALABAMA,AL,Calhoun,1015,"Calhoun County, Alabama",605.867251,115098,0,53682,...,0,0,0,0,0,10686,796,9.4,0.7,117894

In [ ]:
# Rename acsMAin column 'GEOID' to 'FIPS'
acsMain = acsMain.rename(columns={'GEOID':'FIPS'})
acsMain.head()

In [36]:
acsMain['FIPS'] = acsMain['FIPS'].astype(int)

In [33]:
print(f'ACS Main Size: {acsMain.shape}')
print(f'SVI Size: {svi.shape}')
# Because the ACS is larger, we will be joining on SVI

ACS Main Size: (164573, 15)
SVI Size: (3142, 123)

In [41]:
print(len(acsMain['FIPS'].unique()))
print(len(svi['FIPS'].unique()))

827
3142

In [48]:
# Now try merging on FIPS
acs_svi_merged = svi.join(acsMain, on='FIPS', how='inner',lsuffix='_left', rsuffix='_right')
acs_svi_merged.head()

,FIPS,ST,STATE,ST_ABBR,COUNTY,FIPS_left,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,TITLE,EST_19,EST_18,SIG90_19_18,EST_17,SIG90_19_17,EST_16,SIG90_19_16,EST_15,SIG90_19_15
0,35039,35,NEW MEXICO,NM,Rio Arriba,35039,"Rio Arriba County, New Mexico",5860.869195,39307,0,...,65 years and over,7.5%,8.2%,NaN,4.9%,*,5.8%,NaN,8.0%,NaN
1,1001,1,ALABAMA,AL,Autauga,1001,"Autauga County, Alabama",594.443459,55200,0,...,Cohabiting couple household,1.4%,8.1%,*,3.8%,*,3.5%,*,3.9%,*
2,1009,1,ALABAMA,AL,Blount,1009,"Blount County, Alabama",644.830460,57645,0,...,Householder living alone,19.4%,15.9%,NaN,20.3%,NaN,16.4%,NaN,15.0%,*
3,1013,1,ALABAMA,AL,Butler,1013,"Butler County, Alabama",776.838201,20025,0,...,Households with one or more people 65 years an...,35.8%,34.3%,NaN,37.2%,NaN,33.3%,NaN,31.2%,*
4,1015,1,ALABAMA,AL,Calhoun,1015,"Calhoun County, Alabama",605.867251,115098,0,...,Average household size,2.52,2.62,NaN,2.74,*,2.61,NaN,2.59,NaN

In [47]:
print(len(newDF.columns))
print(len(acsMain.columns))
print(len(svi.columns))

139
15
123

In [50]:
# now write to a CSV file
acs_svi_merged.to_csv('acs_svi_merged.csv')